<div class="posts">
  <h2>Dashboard</h2>

  <div class="alert-container">
    <% if notice %>
      <p class="alert alert-success fade in"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger fade in"><%= alert %></p>
    <% end %>
  </div>
  
  <%= render 'posts/post_by_date'%>

  <div id="post-modal" class="modal fade"></div>
</div>