<div class="modal-dialog">
  <%= form_for (@post), remote: true, html: {style: "display-inline;"} do |f| %>
  <div class="modal-content">
    <div class="modal-header">
      <h4>New Post</h4>
    </div>
    <div class="modal-body">
      <% if @post.errors.any? %>
          <div id="error_explanation" class="alert alert-danger">
            <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>
          <ul>
           <% @post.errors.full_messages.each do |message| %>
             <li><%= message %></li>
            <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-1"></div>
          <div class="col-sm-2">
            <%= f.label :title %>
          </div>
          <div class="col-sm-8">
            <%= f.text_field :title, class: 'form-control', placeholder: 'Enter a title' %>
          </div>
          <div class="col-sm-1"></div>
        </div>
        <div class="form-group">
          <div class="col-sm-1"></div>

          <div class="col-sm-2">
            <%= f.label :description %> <br>
          </div>
          <div class="col-sm-8">
            <%= f.text_area :description, class: 'form-control', rows:10, placeholder: 'Your post'%>
          </div>
          <div class="col-sm-1"></div>
        </div>

        <div class="form-group">
          <div class="col-sm-1"></div>
          <div class="col-sm-2"><%= f.label :tags %></div>
          <div class="col-sm-8">
            <%= f.text_field :all_tags, class:'tag-input', placeholder: "Tags separated with coma"%>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to "Cancel", "#", class: "btn", data: {dismiss: "modal"} %>
      <%= f.submit 'Submit', class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>
</div>