<div class="row">
  <div class="col-sm-2"></div>
  <div class="post-container col-sm-7">
    <div class="post-header">
        <%= post.user %>
      <div class="crud-menu">
        <ul>
          <li><%= link_to edit_post_path(post), remote: true do %>
            <i class="glyphicon glyphicon-edit"></i>
           <% end %>
          </li>
          <li><%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <div class="post-body">
      <dl>
        <dt>
          <h2><%= post.title %></h2>
        </dt>
        <dd>
          <span class="post-description"><%= post.description.html_safe %></span><br>
          <span class="post-created">- <%= time_ago_in_words(post.created_at)%> ago</span>
          <div class="tag-container">
            <span> <i class="glyphicon glyphicon-tags"></i> <%= raw tag_links(post.all_tags) %></span>         
          </div>
        </dd>
      </dl>
    </div>
    <div class="post-footer"></div>
  </div>
  <div class="col-sm-2"></div>
</div>