$("#post-modal").html("<%= escape_javascript(render 'new') %>")
$("#post-modal").modal("show")

$('.tag-input').selectize({
  delimiter: ',',
  persist: false,
  create: function(input) {
    return {
        value: input,
        text: input
    }
  }
});