// *= require selectize
// *= require selectize.default

@import "bootstrap-sprockets";
@import "bootstrap";
@import "posts";

$nav-bar:  #C7DDF5;
$nav-anchor: #045B7B;

.nav {
  background-color: $nav-bar ;
  span {
    float: left;
    margin: 5px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid white;
    padding: 5px;
  }
  .tabs {
    ul {
      margin-top: 15px;
      a { 
        margin-left: 5px;
        padding: 10px;
        text-decoration: none;
      }
      a:hover {
        background: $nav-anchor;
        color: white;
      }
      li {
        display: inline;
        padding: 5px;
        a{
          text-decoration: none;
          padding: 10px;
        }
        a:hover {
          background: $nav-anchor;
          color: white;
        }
      }
    }
  }
}

.alert-container {
  .alert {
    margin-bottom: 0;
  }
}
