$tag-color: #0693c6;
$posts-color: #e1e6ea;
$container-bg: #045b7b;


.posts {
  background-color: $posts-color;
  h2 {
    margin: 0;
    padding: 10px;
  }

  .container-fluid.post-container {
    padding: 20px;
    background-color: $container-bg;

    h3 {
      color: #fff;
    }

    div.row {
      padding: 5px;
      margin-top: 5px;
      
      .post-container {
        background-color: #fff;
        border-radius: 0.5em;

        .post-header {
          margin: 10px 0 10px 0;
          color: grey;
          font-weight: bold;
          font-size: 16px;

          .crud-menu {
            float:right;
            margin-top: 5px;
            ul >li {
              display: inline;
              text-display: none;
              margin-left: 15px;
              a {
                color: #999999;
              }
              a:hover {
                color: grey;
              }
            }
          }
        }

        .post-body {
          dl > dd{
            padding: 5px;
          }

          .post-created {
            color: blue;
          }

          .tag-container {
            color: $tag-color;
            margin-top:15px;

            span {
              a {
                background-color: $tag-color;
                color: white;
                border-radius: 0.25em;
                padding: 5px;
                text-decoration: none;
              }
            }
          }
        }
      }
    }

    .form-horizontal {
      .form-group {
        label {
          color: #fff;
        }
      }
    }
  }

  #post-modal {
    .tag-input {
      .item{
        background-color: $tag-color;
        color: white;
        border-radius: 0.25em;
        padding-left: 5px;
      }
    };
  }
}