<!DOCTYPE html>
<html>
<head>
  <title>PostApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav">
    <span>Post App</span>
    <div class="tabs">
      <ul>
       <%= link_to 'Dashboard', dashboard_path %>
       <%= link_to 'My Posts', posts_path %>
       <%= link_to 'New Post', new_post_path, remote: true %>

        <li class="pull-right">
          <p>
          <% if user_signed_in?%>
            Welcome, <strong><%= current_user.email %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
          <% end %>
          </p>
        </li>
      </ul>
    </div>
  </div>

  <%= yield %>

  </body>
</html>
